.card-cliente {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.082);
}

.div-botoes-cliente button {
    width: -webkit-fill-available;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}